@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Lato:ital,wght@1,100;1,400&family=Montserrat:wght@100;300&family=Noto+Sans+JP:wght@600&family=PT+Serif:ital@1&family=Playfair+Display:ital@1&family=Poppins:ital,wght@1,100;1,300&family=Roboto:ital,wght@1,300&family=Young+Serif&family=Zeyada&display=swap');
html, body{
    height: 100%;
    width: 100%;
    font-family: 'Dancing Script', cursive;;


}
.button{
    padding: 20px;
    width: 66px;
    margin: 0 3px;
    border: 2px solid black;
    border-radius: 9px;
    cursor: pointer;
}
.row{
    margin: 8px 0;
}
.row input{
    width: 290px;
    margin: 0;
    font-size: 23px;
    padding: 10px 0px;
    border: 2px solid black;
    border-radius: 5px;
    

}